@import url(https://fonts.googleapis.com/css?family=Nunito);html,
body {
  background: #f2f2f2;
}

.header {
  background: #ffffff;
}

.header .logo {
  width: 70px;
}

.homepagecontainer {
  background: none;
}

.homepagecontainer .homepage-heading {
  color: #666666;
  font-size: 28px;
  font-family: "Lucida Sans", sans-serif;
}

.homepagecontainer .btn_viewitem {
  font-family: "Lucida Sans", sans-serif;
  color: #3b99fb;
  background: #ffffff;
  border: 0;
  border-radius: 3px;
  text-transform: capitalize;
  font-size: 13px;
}

.content-heading {
  color: #666666;
  font-size: 28px;
  font-family: "Lucida Sans", sans-serif;
}

.card-listitems {
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: "Lucida Sans", sans-serif;
}

.card-listitems .card-listitem-title {
  color: #666666;
  font-size: 18px;
  font-weight: 600;
}

.card-listitems .card-listitem-value {
  color: #666666;
  font-size: 13px;
}

.input-form {
  border-radius: 3px;
  border: 0;
}

.button-form {
  font-family: "Lucida Sans", sans-serif;
  color: #3b99fb;
  background: #ffffff;
  border: 0;
  border-radius: 3px;
  text-transform: capitalize;
  font-size: 16px;
}

.button-form:hover,
.button-form:focus {
  color: #3b99fb;
  background: #ffffff;
}

.button-action {
  display: block;
  border: 0;
  background: #f9f9f9;
  color: #3b99fb;
  text-transform: capitalize;
}

.button-action:hover,
.button-action:focus {
  color: #3b99fb;
  background: #ffffff;
}

