
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

html, body {
  background: $body-bg;
}

.header {
  background: #ffffff;
  .logo {
    width: 70px;
  }
}

.homepagecontainer {
  background: none;
  .homepage-heading {
    color: #666666;
    font-size: 28px;
    font-family: $font-primary;
  }
  .btn_viewitem {
    font-family: $font-primary;
    color: #3b99fb;
    background: #ffffff;
    border: 0;
    border-radius: 3px;
    text-transform: capitalize;
    font-size: 13px;
  }
}
.content-heading {
  color: #ffffff;
  font-size: 28px;
  font-family: $font-primary;
}
.card-listitems {
  box-shadow: none;
  font-family: $font-primary;
  .card-listitem-title {
    color: #666666;
    font-size: 18px;
    font-weight: 600;
  }
  .card-listitem-value {
    color: #666666;
    font-size: 13px;
  }
}

.input-form {
  border-radius: 3px;
  border: 0;
}
.button-form {
  font-family: $font-primary;
  color: #3b99fb;
  background: #ffffff;
  border: 0;
  border-radius: 3px;
  text-transform: capitalize;
  font-size: 16px;
  &:hover, &:focus {
    color: #3b99fb;
    background: #ffffff;
  }
}
.button-action {
  display: block;
  border: 0;
  background: #f9f9f9;
  color: #3b99fb;
  text-transform: capitalize;
  &:hover, &:focus {
    color: #ffffff;
    background: red;
  }
}
